accelerate==1.10.1
cmake==4.1.0
einops==0.8.1
ms-swift==3.8.1
ninja==1.13.0
numpy==1.26.3
packaging==25.0
pybind11==3.0.1
regex==2025.9.1
safetensors==0.6.2
sentencepiece==0.2.1
six==1.17.0
transformers==4.56.0
wandb==0.21.3
wheel==0.45.1