# Taken from https://github.com/langgenius/dify-sandbox/blob/9681882da3809d21a02baebd73bc0b6408563f7b/conf/config.yaml
app:
  port: 8194
  debug: True
  key: dify-sandbox
max_workers: 4
max_requests: 50
worker_timeout: 5
python_path: /usr/local/bin/python3
enable_network: True
enable_preload: False
allowed_syscalls:
proxy:
  socks5: ''
  http: ''
  https: ''
